// Переменные цветов

$green: #688800;
$light-green: #69D59E;
$light-green-salad: #BFD087;
$dark-green-salad: #546B06;
$light-green-italiano: #69D49E;
$dark-green-italiano: #116137;
$dark-green: #009246;
$red: #D73A31;
$light-red: #E8847E;
$dark-red: #73120D;
$orange: #E67F10;
$ligth-orange: #F1A757;
$dark-orange: #BD690D;
$dark-grey: #4A4A4A;
$white: #fff;